---
import Container from '@/components/Container.astro'
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar'
import Dropdown from './Dropdown.astro'
import Links from './link.astro'


interface NavbarMenuItems {
  badge: boolean
  title: {
    uk: string
    en: string
    ru: string
  }
  path?: string
  children?: {
    title: {
      uk: string
      en: string
      ru: string
    }
    path: string
  }[]
}

const menuitems: NavbarMenuItems[] = [
  {
    badge: false,
    title: {
      uk: 'Послуги',
      en: 'Services',
      ru: 'Услуги',
    },
    path: '#',
    children: [
      {
        title: {
          uk: '/blog',
          en: '/blog',
          ru: '/blog',
        },
        path: '/',
      },
      {
        title: {
          uk: '/blog',
          en: '/blog',
          ru: '/blog',
        },
        path: '#',
      },
      {
        title: {
          uk: '/blog',
          en: '/blog',
          ru: '/blog',
        },
        path: '#',
      },
      {
        title: {
          uk: '/blog',
          en: '/blog',
          ru: '/blog',
        },
        path: '/404',
      },
    ],
  },
  {
    badge: false,
    title: {
      uk: '/blog',
      en: '/blog',
      ru: '/blog',
    },
    path: '/pricing',
  },
  {
    badge: false,
    title: {
      uk: '/blog',
      en: '/blog',
      ru: '/blog',
    },
    path: '/about',
  },
  {
    badge: false,
    title: {
      uk: '/blog',
      en: '/blog',
      ru: '/blog',
    },
    path: '/blog',
  },
  {
    badge: false,
    title: {
      uk: 'blog',
      en: 'blog',
      ru: 'blog',
    },
    path: '/contact',
  },
  {
    badge: false,
    title: {
      uk: '/blog',
      en: '/blog',
      ru: '/blog',
    },
    path: 'https://astroship-pro.web3templates.com/',
  },
]

import { getLangFromUrl } from '@/i18n/utils'
const lang = getLangFromUrl(Astro.url)
---

<Container>
    <header class="my-5 flex flex-col items-center justify-between lg:flex-row">
        <Astronav>
            <div class="flex w-full items-center justify-between lg:w-auto">
                <a href="/" class="text-lg"
                    ><span class="font-bold text-slate-800">Astro</span><span
                        class="text-slate-500">ship</span
                    >
                </a>
                <div class="block lg:hidden">
                    <MenuIcon class="h-4 w-4 transition-colors font-medium duration-200 hover:text-yellow-400 flex items-center py-2 text-med-black lg:px-3" />
                </div>
            </div>
            <MenuItems class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto">
                <ul class="flex flex-col lg:flex-row lg:gap-3">
                    {
                        menuitems.map((item, index) => (
                            <>
                                {item.children && (
                                    <Dropdown
                                        title={item.title}
                                        children={item.children}
                                        lastItem={
                                            index === menuitems.length - 1
                                        }
                                        badge={false}
                                    />
                                )}

                                {!item.children && (
                                    <li>
                                        <a
                                            href={item.path}
                                            class="transition-colors font-medium duration-200 hover:text-med-yellow flex items-center py-2 text-med-black lg:px-3"
                                        >
                                            <span> {item.title[lang]}</span>
                                            {item.badge && (
                                                <span class="ml-1 animate-pulse rounded-full bg-indigo-600 py-0.5 px-2 text-[10px] font-semibold uppercase text-white">
                                                    New
                                                </span>
                                            )}
                                        </a>
                                    </li>
                                )}
                            </>
                        ))
                    }
                </ul>
                <div class="mt-3 flex items-center gap-4 lg:hidden">
                    <Links href="#" style="muted" block size="md">Log in</Links>
                    <Links href="#" size="md" block>Sign up</Links>
                </div>
            </MenuItems>
        </Astronav>
        <div>
            <div class="hidden items-center gap-4 lg:flex">

                <a href="#">Log in</a>
                <Links href="#" size="md">Sign up</Links>
            </div>
        </div>
    </header>
</Container>

<style>
    .menu-hamburger {
        transform: translate(0, -50%);
        cursor: pointer;
        font-size: 15px;
        line-height: 20px;
        color: currentColor;
    }

    .menu-hamburger__icon {
        float: right;
        position: relative;
        width: 24px;
        height: 20px;
        margin-left: 8px;
    }

    .menu-hamburger__icon span,
    .menu-hamburger__icon span:before,
    .menu-hamburger__icon span:after {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 100%;
        height: 3px;
        transition: all 0.1s;
        background: currentColor;
    }

    .menu-hamburger__icon span:before {
        top: -8px;
    }

    .menu-hamburger__icon span:after {
        top: 8px;
    }

    .toggled .menu-hamburger__icon span {
        background-color: transparent !important;
    }

    .toggled .menu-hamburger__icon span:before,
    .toggled .menu-hamburger__icon span:after {
        top: 0;
    }

    .toggled .menu-hamburger__icon span:before {
        transform: rotate(45deg);
    }

    .toggled .menu-hamburger__icon span:after {
        transform: rotate(-45deg);
    }
</style>

<script>
    document.addEventListener(
        "astro:page-load",
        () => {
            const button = document.querySelector(".astronav-menu");
            if (button) {
                button.addEventListener(
                    "click",
                    () => button.classList.toggle("toggled"),
                    false,
                );
            }
        },
        { once: false },
    );
</script>
